body {
	background-color: rgb(242, 242, 242);
	margin: 0px;
}
.full {
	background-color: rgb(242, 242, 242);
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 5fr;
}
.left {
	position: initial;
	background-color: rgb(204, 255, 255);
	padding: 20px;
}
.right {
	position: initial;
	background-color: rgb(242, 242, 242);
	padding: 20px;
}

#imgcv {
	width:70px;
	height:70px;
	float:left;
}

.a:link, .a:visited {
  background-color: white;
  border: 2px solid #008CBA;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.a:hover, .a:active {
  background-color: #008CBA;
  color: white;
}
	
hr{
	height: 1px;
	background-color: black;
	border: 1px solid black;
}

h2{
	color: 	rgb(0, 119, 179);
}

p, ul, dl{
	font-size: 18px;
}

ul{
	list-style-type: square;
}

dl{
	margin-left: 2%;
}

.img{
	width:24px;
	height:24px;
	float:left;
}
